
<div class="main-wrapper">

    <div class="row w-12">
        <app-location-bar></app-location-bar>
    </div>
    
    <div>
        <app-search-bar section="characters" ></app-search-bar>
    </div>

    <div class="row cards-wrapper w-12">

        <div *ngIf="characters.length === 0; else listCharacters" >
            <span>Character not found</span>
        </div>

        <ng-template #listCharacters>
            
            <div *ngFor="let character of characters" class="sm:w-5 md:w-12rem lg:w-2">
                <app-card [subtitle]="character.name"
                          [urlImg]="character.image"
                          routerLink="/rm/characters/{{character.id}}"
                          linkCard="p-card-hover">
                </app-card>
                
            </div>
    
            <div class="flex justify-content-center w-12">
                <app-paginator [totalCards]="infoResp.count"></app-paginator>
            </div>

        </ng-template>

    </div>


    

</div>
