<app-menu></app-menu>

<div class="main-wrapper">

    <span *ngIf="!character; else characterDetail">
        Espere por favor...
    </span>

    <ng-template #characterDetail>

        <div class="row w-12">
            <app-location-bar section="Characters" detail="Character detail"></app-location-bar>
        </div>

        <section class="flex flex-wrap w-12 justify-content-between gap-4">
            <div class="character-detail-card">
                <app-card title="Character Info" [urlImg]="character.image" [character]="character">
                </app-card>
            </div>

            <div class="common-wrapper character-detail-list">
                <h3 class="w-12">List of Episiodes</h3>
                <hr class="w-12 mt-3 mb-3">
                <div class="link-list">
                    <a *ngFor="let episode of episodes" 
                        routerLink="/rm/episodes/{{episode.id}}"
                        class="item-link-list">
                        Episode {{episode.id}} - {{episode.name}}
                    </a>
                </div>
            </div>

        </section>

    </ng-template>

</div>