* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: var( --surface-b );
    font-family: var( --font-family ) ;
    color: var( --text-color );
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 2rem;
}

.main-wrapper {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    align-items: center;
}

.main-wrapper-login {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    justify-content: space-around;
    align-items: center;
}


.cards-wrapper {
    min-height: 35vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.common-wrapper {
    background-color: var(--surface-a);
    padding: 15px;
    border-radius: 3px;
    border: 1px solid var(--surface-d);
}

.p-card-hover:hover {
    cursor: pointer;
    background-color: var(--surface-d);
}

.link-list {
    max-height: 360px;
    overflow-y: scroll;
    width: 100%;
    padding: 0px 10px;
    margin-top: 20px;
}

.item-link-list {
    display: block;
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: var(--primary-color)
}

.item-link-list:hover {
    color: white;
    cursor: pointer;
}

.character-detail-card {
    width: 100%;
}

.character-detail-list {
    width: 100%;
}

.error {
    color: #ef9a9a;
}

/* BREAK POINTS */

@media (max-width: 768px) {
    .cards-wrapper {
        min-height: 30vh;
    }

    .main-wrapper-login {
        padding: 40px 40px;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .character-detail-card {
        width: 22%;
    }

    .character-detail-list {
        width: 72%;
    }
}

@media (max-width: 992px) {
    .cards-wrapper {
        min-height: 55vh;
    }

    .link-list {
        max-height: 440px;
    }
}