* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: var( --surface-b );
    font-family: var( --font-family ) ;
    color: var( --text-color );
}

body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 2rem;
}

.main-wrapper {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 15px;
}

.my-card {
    background-color: var(--surface-a);
    padding: 15px;
    border-radius: 3px;
    border: 1px solid var(--surface-d);
    display: flex;
}