<div class="main-wrapper">

    <div class="row w-12">
        <app-location-bar></app-location-bar>
    </div>
    
    <div>
        <app-search-bar section="episodes" ></app-search-bar>
    </div>

    <div class="row cards-wrapper w-12">

        <div *ngIf="episodes.length === 0; else listEpisodes" >
            <span>Episode not found</span>
        </div>

        <ng-template #listEpisodes>
            
            <div *ngFor="let episode of episodes" class="sm:w-5 md:w-12rem lg:w-2">
                <app-card subtitle="Episode {{episode.id}}"
                          [episode]="episode"
                          routerLink="/rm/episodes/{{episode.id}}"
                          linkCard="p-card-hover">
                </app-card>
            </div>
    
            <div class="flex justify-content-center w-12">
                <app-paginator [totalCards]="20"></app-paginator>
            </div>

        </ng-template>

    </div>


    

</div>
